# /etc/systemd/system/etcd.service
[Unit]
Description=etcd
After=network.target wg-quick@wg0.service

[Service]
Type=notify
ExecStart=/usr/bin/etcd --name <%= @name %> \
  --data-dir /var/lib/etcd \
  --listen-client-urls "http://<%= @address %>:2379,http://localhost:2379" \
  --advertise-client-urls "http://<%= @address %>:2379" \
  --listen-peer-urls "http://<%= @address %>:2380" \
  --initial-cluster "<%= @init_cluster.join(',') %>" \
  --initial-advertise-peer-urls "http://<%= @address %>:2380" \
  --heartbeat-interval 200 \
  --election-timeout 5000
Restart=always
RestartSec=5
TimeoutStartSec=0
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
