worker_processes 1;

events { worker_connections 1024; }

http {
    sendfile on;

    gzip              on;
    gzip_http_version 1.0;
    gzip_proxied      any;
    gzip_min_length   500;
    gzip_disable      "MSIE [1-6]\.";
    gzip_types        text/plain text/xml text/css
                      text/comma-separated-values
                      text/javascript
                      application/x-javascript
                      application/atom+xml;

    upstream toffee_servers {
        include upstream/*.conf
    }

    # Configuration for the server
    server {
        # Running port
        server_name <%= @nginx_node[:server_name] %>;
        <% @nginx_node[:server_listen].each do |p| %>
        listen <%= p %>;
        <% end %>
        
        # Proxying the connections connections
        location / {
            proxy_pass         http://app_servers;
            proxy_redirect     off;
            proxy_set_header   Host $host;
            proxy_set_header   X-Real-IP $remote_addr;
            proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header   X-Forwarded-Host $server_name;
        }

        include location/*.conf;
    }
}
